#ifright {
    background-color: white;
    width: 95%;
    height: 85%;
    border-radius: 20px;
    position: relative;
    top: 40px;
    left: 10px;
    border: solid #aaaaaa;
    border-width: 3px;
    /* border-right: none; */
  }
  .mainHome {
    text-align: center; 
    margin-top: 50px;
    font-family: "a옛날사진관1";  
    font-weight: bold;
    font-size: 20px;
  }
